# Firebase Configuration
FIREBASE_SERVICE_ACCOUNT=
FIREBASE_PROJECT_ID=dia-app-52477
JWT_SECRET=dia-secret-key-2026

# Status configuration
APP_NAME=DIA DEUTSCH INSTITUT
WHATSAPP_SENDER_NUMBER=654491319
